* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    scroll-behavior:smooth;
}

.anchor-novisual{
    text-decoration: none;
    color: inherit;
}

/*Footer*/
#footer{
    height: 25vh;
    font-size: 120%;
    background-color: var(--bg-color);
    padding: 2rem;
    color: var(--darker-main-color);

}

#footer h1, #footer div, #footer p{
    margin-bottom: 6px;
}

#footer #contacts{
    display: flex;
    gap: 30%;
}

#footer hr{
    margin-top: 1rem;
    border-color: var(--darker-main-color);
}

#footer > #back-button {
    margin-top: 0.75rem;
    text-align: end;
}

#footer span{
    margin-right: 2.35rem;
}

@media screen and (max-width: 1267px){
    #footer #contacts{
        display: flex;
        gap: 10%;
    }
    #footer {
        height: 30vh;
    }
}

:root {
    --main-color: #ff3b4b;
    --darker-main-color: #800020;
    --text-color: #ffffff;
    --text-color-2: #231713;
    --bg-color: #d6d5d0;
    --bg-color-2: #0f0f0f;
}